<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <link rel="stylesheet" href="/add-blog.css" />
  </head>
  <body>
    <div class="wrapper">
      <form action="/add-blog" method="post">
        <div class="field">
          <input
            type="text"
            id="name"
            name="blogTitle"
            placeholder="Write your Blog Title"
            autofocus
          />
          <label for="blogTitle">Blog Title</label>
        </div>

        <div class="field">
          <textarea
            id="msg"
            rows="4"
            name="blogPost"
            placeholder="Write here your Blog Post"
          ></textarea>
          <label for="blogPost">Blog Post</label>
        </div>
        <input class="button" type="submit" value="Send" />
        <a href="/blog">or Go to Blog Page Again</a>
      </form>
    </div>
  </body>
</html>
